@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


.details-container {
    max-width: 1800px;
    margin-top: 70px;
    padding: 40px 90px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .details-container {
      margin-top: 20px;
      max-width: 100%;
      padding: 20px;
    }
  }
  

  .details-container ul {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  
  .details-container li {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
    list-style: none;
    position: relative;
  }
  
  .details-container li:before {
    content: "→";
    font-size: 1.2rem;
    color: #666;
    position: absolute;
    left: -20px;
    top: 2px;
  }
  

  .categories {
    width: 100%;
    margin: 0 auto;
    padding: 50px 30px;
    background-color: white;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* border-radius: 2px; */
    text-align: center;
  }

 .details-container h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 10px;
    opacity: 0.9;
    color: #333;
    letter-spacing: 1px;
  }
  
  .job-portal {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  
  
  
  .portal {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #426AF9;
    transition: all 0.3s ease-in-out;
  }
  
  
  @media (max-width: 768px) {
    .job-portal, .portal {
      font-size: 22px;
      width: 100%;
    }
  }
  
  
  

  .details-container h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    opacity: 0.5;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  @media only screen and (max-width: 768px) {
    .details-container h5 {
      padding: -100px -10px;
      font-size: 12px;
      width: 100%;
      margin-top: 10px;
    margin-bottom: 0px;
    }
    
  }
  
  .details-container h3 {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    opacity: 0.5;
    letter-spacing: 3px;
    padding: -10px -10px;
    line-height: 1.5;
  }
  
  @media only screen and (min-width: 768px) {
    .details-container h3 {
      padding: 10px 200px;
    }
  }
  
  
  

  .category-card p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    opacity: 0.7;
  }
  
  
  .details-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    color: #333;
  }
  
  .details-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666;
  }
  
  .details-container ul {
    text-align: left;
    margin-bottom: 30px;
  }
  
  .details-container li {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
  }
  
  .details-container li:before {
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .details-container p:last-child {
    margin-bottom: 0;
  }

  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 40px; */
  }

  .category-card h2 {
    
    font-size: 1.2rem;
  }
  
  .category-card p {
    font-size: 1.0rem;
  }
  
  .carousel-div {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    margin-top: 50px;
  }
  
  .carousel-div img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  @media only screen and (min-width: 768px) {
    .carousel-div img {
      height: 300px;
      width: 1200px;
    }
  }
  
  
  
  .slick-slide img {
    display: block;
    margin: 0 auto;
  }
  
  
  
  .category-card {
    width: 200px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .category-card:hover {
    transform: scale(1.1);
    background-color: white;
  }
  
  
  
  