.job-container {
  /* max-width: 1300px; */
  margin: 0 auto;
  margin-top: 0px;
  padding: 60px;
  margin-left: 0px;
  background-color: #ffffff;
  /* border-radius: 30px; */
  /* border: 0.5px solid #ccc; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  animation: fade-in 0.5s ease-in-out;
}


@media only screen and (max-width: 767px) {
  .job-container {
    /* padding-left: -200000000px; */
    padding: 60px;
  }
}





.job-h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #000;
  margin-bottom: -5px;
}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
.job-cards {
  margin-left: 10px;
}


  .job-card {
    width: calc(90% - 20px);
    margin: 15px 50px;
    padding: 30px 60px;
    /* border-radius: 30px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }


  .job-card:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }


  .job-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }

  .job-card p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }

  .job-card button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #008080;
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .job-card button:hover {
    background-color: #006666;
  }

  @media screen and (max-width: 768px) {
    .job-card {
      width: 100%;
    }
  }

  .job-h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #1A1A1A;
    text-align: center;
    /* margin-top: -35px; */
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
  }

  .animate__fadeIn {
    --animate-duration: 3s;
  }

  .job-filters {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0px 1px 22px 1px rgba(69, 64, 219, 0.04);
    border-radius: 20px;
    z-index: 1;
    background-color: white;

    }



    .filter-container select {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      border: none !important;
      outline: none !important;
    }
 
    .filter-container.job-filters select {
      border-right: 1px solid #ccc;
      padding-right: 10px;
      margin-right: 10px;
    }

    .filter-container.job-filters select:last-child {
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }


    .filter-container button {
      font-family: Helvetica, Arial, sans-serif;
      width: 150px;
      font-size: 1rem;
      margin-left: 30px;
      padding: 5px 10px;
      border: none;
      /* border-radius: 30px; */
      color: #fff;
      background-color: #0077B6;
      font-weight: bold;
      cursor: pointer;
      display: inline-block; /* added this line */
    }
    

    .filter-container h3 {
      display: inline-block;
      margin-right: 20px;
      color: #2c3e50;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    @media only screen and (max-width: 767px) {
      .filter-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        /* padding: 10px; */
      }
    
      .filter-container select {
        font-size: 12px;
        margin: 0 10px;
        flex-basis: 100%;
        max-width: 100px;
      }
    
      .filter-container button {
        font-size: 10px;
        width: 90%;
        margin: 10px;
      }
    
      .filter-container.job-filters select {
        border: none;
        border-bottom: 1px solid #ccc;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 10px;
      }
    
      .filter-container.job-filters select:last-child {
        margin-bottom: 20px;
      }
    }
    