.renderComponent {
  display: grid;
  place-items: center;
  height: max-content;
  font-size: 32px;
  /* font-weight: bold; */
  margin-bottom: 40px;
}
.renderComponent {
  padding-right: 20rem;
}
#about {
  margin-top: -80px;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}

/* Navigation Styles */
.nav {
  /* padding: auto; */
  display: flex;
  justify-content: flex-start;
  align-items: top;
  position: fixed;
  width: 16%;
  bottom : 5% ;
  top : 10px;
  left : 5% ;
  /* margin: 80px 0px; */
  padding-top : 0px;
  margin-top: 0px;
  /* padding-left : 50rem ; */
  height: 100%; 
}

.Profile {
  margin-top: 40px;
  padding-top: 0;
}

.nav__container {
  background-color: #eaf2fa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__container__actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 120px;
  flex: 1;
}

.nav__container__actions a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav__container__actions button {
  background-color: #0080ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__container__actions button:hover {
  background-color: #0059b3;
}

ul {
  position: fixed;
  top: 11rem;
  display: flex;
  flex-flow: column nowrap;
  /* gap: 2rem; */
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

.active {
  color: rgba(59, 50, 179) !important;
  border: solid 1px rgba(59, 50, 179);
  padding: 15px;
  width: 9rem;
}

li {
  cursor: pointer;

  text-align: center;
  width: 10rem;
  color: black;
}

li:hover {
  text-decoration: none;
  opacity: 70%;
}

/* Degree Card Styles */
.degree-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p {
  margin: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4f4f4f;
}

.active {
  background: rgba(59, 50, 179, 0.1) !important;
  text-align: left;
  border-radius: 0.4rem !important;
  width : 16rem !important ;
  /* padding  : 0.7rem !important ; */
  font-weight:  200 !important;
}
.navButton {
  width : 16rem !important ;
  /* padding  : 0.5rem !important ; */
  text-align: left;
  /* border : 0.1px solid rgb(225, 224, 224) !important ; */
  /* border-radius: 0px !important; */
  background-color: white !important;
  color : black !important;
}
.outer-container{
  max-width : 17rem ;
  text-align: center;
  position : fixed ;
} 
