.signup-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #f5f8fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .signup-container {
    /* Existing styles */
    animation: bounceIn 2.5s cubic-bezier(0.5, 0.885, 0.32, 1.275) both;
  }
  
  @keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.6, 0.61, 0.355, 1);
      transform: translate3d(0,0,0);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  

  
  
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #1da1f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0d8bf0;
  }
  
  .btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #1da1f2;
    background-color: #fff;
    border: 1px solid #1da1f2;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: #1da1f2;
  }
  